.grid__main__contacto{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: $bgmain;
    border-radius: 15px;
    border: map-get($map: $mapBorderSombras, $key: bordColorW);
    margin: 5%;
    .titulo__grid__contacto{
        grid-column: 1/3;
    }
    .sumate__contacto{
        border: map-get($map: $mapBorderSombras, $key: bordColorB);
        margin: 3%;
        padding: 5px;
        border-radius: 15px;
        grid-column: 1/2;
        form{
            .form__casilla{
                width: 100%;
            }
        }
    }
    .table__horarios{
        border: map-get($map: $mapBorderSombras, $key: bordColorB);
        margin: 3%;
        padding: 5px;
        border-radius: 15px;
        grid-column: 2/3;
    }
    .contacto__contacto{
        border: map-get($map: $mapBorderSombras, $key: bordColorB);
        margin: 3%;
        padding: 5px;
        border-radius: 15px;
        grid-column: 1/3;
    }
    .mapa__main__contacto{
        border-radius: 15px;
        margin: 5%;
        grid-column: 1/3;
        .mapa__contacto{
            width: 100%;
            border-radius: 15px;
        }
    }
}






