.padre__home{
    background-color: $bgmain;
    border-radius: 15px;
    border: solid white;
    section{
        .relleno__img__index{
            width: 100%;
            border-radius: map-get($map: $mapBorderSombras, $key: bordCurvo);    
        }
    }
    section{
        .tablero__main__index{
            font-size: larger;
            background-color: rgba(0, 0, 0, 0.404);
            color: white;
            padding: 2%;
            border-radius: 15px;
        }
    }
}