.relleno__menu{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows:  auto ;
    .title__main__menu{
        grid-column: 1/3;
        width: 35%;
        margin: 3%;
        background-color: $bgmain;
        border-radius: map-get($map: $mapBorderSombras, $key: bordCurvo);
        text-align: center;
        height: auto;
        border: map-get($map: $mapBorderSombras, $key: bordColorW);
    }
    .opciones__menu{
        margin: 15px;
        padding: 15px;
        height: 250px;
        width: auto;
        text-align: start;
        border-radius: map-get($map: $mapBorderSombras, $key: bordCurvo);
        display: grid;
        grid-template-columns: auto auto;
        background-color: $bgmain;
        grid-column-gap: 5%;
        border: map-get($map: $mapBorderSombras, $key: bordColorW);
        div{
            font-weight: 900;
        }
        .titulo__opciones__menu{
            grid-column: 1/3;
            font-size: x-large;
        }
        .foto__menu{
            height: 150px;
            width: 150px;
            border-radius: map-get($map: $mapBorderSombras, $key: bordCurvo);
            transition-duration: 1s;
            z-index: 100;
            &:hover{
                height: 250px;
                width: 250px;
                z-index: 100;
                margin-bottom: 100%;
            }
        }
    }
    .pie__main__menu{
        background-color: $bgmain;
        border-radius: map-get($map: $mapBorderSombras, $key: bordCurvo);
        border: map-get($map: $mapBorderSombras, $key: bordColorW);
        margin: 3%;
        padding: 3%;
        grid-column: 1/3;
        font-size: larger;
        text-align: center;
    }
}




