
.section__nosotros{
    text-align: center;
    background-color: $bgmain;
    border-radius: map-get($map: $mapBorderSombras, $key: bordCurvo);
    margin: 5%;
    border: smap-get($map: $mapBorderSombras, $key: bordColorW);
    margin-bottom: 80px;
    .video__main__nosotros{
        margin: 5%;
    }
    .nosotros__video{
        width: 100%;
        border-radius: map-get($map: $mapBorderSombras, $key: bordCurvo);
    }
}

