$font: 'Montserrat', sans-serif;
$bgcolor: #310129ef;
$bgmain: rgba(122, 122, 122, 0.959);

$mapBorderSombras: (
    bordCurvo: 15px,
    bordColorW: solid white,
    bordNo: none,
    bordColorB: solid black,
)