.body__header {
  background-color: rgba(49, 1, 41, 0.937254902);
  border-bottom: solid white;
  padding: 15px;
  width: 100%;
}
.body__header .header__nav {
  display: grid;
  grid-template-columns: 46% 54%;
}
.body__header .header__nav div button .menu__logo__dropdown {
  height: 25px;
}
.body__header .header__nav div ul li .texto__header {
  text-decoration: none;
  z-index: 112;
}
.body__header .header__nav div .logo__medio__header {
  position: absolute;
  height: 60px;
  top: -15px;
}

footer ul {
  border-top: solid white;
  background-color: rgba(49, 1, 41, 0.937254902);
  width: auto;
}
footer ul li {
  display: inline-block;
  padding: 20px;
  font-family: "Montserrat", sans-serif;
}
footer ul li a {
  text-decoration: none;
  color: white;
  font-size: large;
  transition-duration: 1.5s;
}
footer ul li a:hover {
  font-size: 120%;
  color: white;
}

.padre__home {
  background-color: rgba(122, 122, 122, 0.959);
  border-radius: 15px;
  border: solid white;
}
.padre__home section .relleno__img__index {
  width: 100%;
  height: fit-content;
  border-radius: 15px;
}
.padre__home section .relleno__img__index__dos {
  width: 100%;
  height: fit-content;
  margin-top: 1rem;
  border-radius: 15px;
}
.padre__home section .tablero__main__index {
  font-size: X-large;
  background-color: rgba(0, 0, 0, 0.404);
  color: white;
  padding: 2%;
  border-radius: 15px;
}
.padre__home section .tablero__texto__main__index {
  font-size: large;
}

.relleno__menu {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}
.relleno__menu .title__main__menu {
  grid-column: 1/3;
  width: auto;
  margin: 3%;
  background-color: rgba(122, 122, 122, 0.959);
  border-radius: 15px;
  text-align: center;
  height: auto;
  border: solid white;
}
.relleno__menu .opciones__menu {
  margin: 15px;
  padding: 15px;
  height: 250px;
  width: auto;
  text-align: start;
  border-radius: 15px;
  display: grid;
  grid-template-columns: auto auto;
  background-color: rgba(122, 122, 122, 0.959);
  grid-column-gap: 5%;
  border: solid white;
}
.relleno__menu .opciones__menu div {
  font-weight: 900;
}
.relleno__menu .opciones__menu .titulo__opciones__menu {
  grid-column: 1/3;
  font-size: x-large;
}
.relleno__menu .opciones__menu .foto__menu {
  height: 150px;
  width: 150px;
  border-radius: 15px;
  transition-duration: 1s;
  z-index: 100;
}
.relleno__menu .opciones__menu .foto__menu:hover {
  height: 250px;
  width: 250px;
  z-index: 100;
  margin-bottom: 100%;
}
.relleno__menu .pie__main__menu {
  background-color: rgba(122, 122, 122, 0.959);
  border-radius: 15px;
  border: solid white;
  margin: 3%;
  padding: 3%;
  grid-column: 1/3;
  font-size: larger;
  text-align: center;
}

.grid__main__carrito {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 5px;
  margin: 3%;
}
.grid__main__carrito .section__micarrito, .grid__main__carrito .section__resumen, .grid__main__carrito .section__pago {
  background-color: rgba(122, 122, 122, 0.959);
  border: solid white;
  border-radius: 15px;
  padding: 3%;
  margin: 0% 3%;
  margin-bottom: 3%;
}
.section__nosotros {
  text-align: center;
  background-color: rgba(122, 122, 122, 0.959);
  border-radius: 15px;
  margin: 5%;
  border: solid white;
  margin-bottom: 80px;
}
.section__nosotros .video__main__nosotros {
  margin: 5%;
}
.section__nosotros .nosotros__video {
  width: 100%;
  border-radius: 15px;
}

.grid__main__saludables {
  background-color: rgba(122, 122, 122, 0.959);
  border-radius: 15px;
  border: solid white;
  margin: 5%;
  padding: 3%;
  margin-bottom: 25%;
}
.grid__main__saludables .ayuda__saludables {
  font-size: larger;
}
.grid__main__saludables .main__section__saludables {
  font-size: larger;
}

.grid__main__contacto {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgba(122, 122, 122, 0.959);
  border-radius: 15px;
  border: solid white;
  margin: 5%;
}
.grid__main__contacto .titulo__grid__contacto {
  grid-column: 1/3;
}
.grid__main__contacto .sumate__contacto {
  border: solid black;
  margin: 3%;
  padding: 5px;
  border-radius: 15px;
  grid-column: 1/2;
}
.grid__main__contacto .sumate__contacto form .form__casilla {
  width: 100%;
}
.grid__main__contacto .table__horarios {
  border: solid black;
  margin: 3%;
  padding: 5px;
  border-radius: 15px;
  grid-column: 2/3;
}
.grid__main__contacto .contacto__contacto {
  border: solid black;
  margin: 3%;
  padding: 5px;
  border-radius: 15px;
  grid-column: 1/3;
}
.grid__main__contacto .mapa__main__contacto {
  border-radius: 15px;
  margin: 5%;
  grid-column: 1/3;
}
.grid__main__contacto .mapa__main__contacto .mapa__contacto {
  width: 100%;
  border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.829) 25%, transparent 25%) -50px 0, linear-gradient(225deg, rgba(0, 0, 0, 0.76) 25%, transparent 25%) -50px 0, linear-gradient(315deg, black 25%, transparent 25%), linear-gradient(45deg, rgba(0, 0, 0, 0.075) 39%, transparent 25%);
  background-size: 100%;
  background-color: #000000;
}

.grid__body__index {
  background-color: rgb(70, 70, 70);
}

#background__index {
  background-image: url("../images/imagebyn.png");
}

@media (max-width: 576px) {
  .padre__home {
    display: grid;
    grid-template-columns: auto;
    margin-bottom: 20%;
  }
  .imagen__home {
    grid-column: 1/3;
  }
  .relleno__menu {
    display: grid;
    grid-template-columns: auto;
  }
  .title__main__menu {
    grid-column: 1/3;
    width: auto;
  }
  .opciones__menu {
    grid-column: 1/3;
  }
  .grid__main__carrito {
    display: grid;
    grid-template-columns: 100%;
    padding: 15px;
  }
  .grid__main__contacto {
    display: grid;
  }
  .titulo__grid__contacto {
    grid-column: 1/3;
  }
  .sumate__contacto {
    grid-column: 1/3;
  }
  .table__horarios {
    grid-column: 1/3;
  }
  .contacto__contacto {
    grid-column: 1/3;
  }
  .mapa__main__contacto {
    grid-column: 1/3;
  }
}/*# sourceMappingURL=styles.css.map */