*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


/*font-family: 'Montserrat', sans-serif; (titulos)
font-family: 'Montserrat', sans-serif; (textos)
*/




body{
    background: 
    linear-gradient(135deg, rgba(0, 0, 0, 0.795) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, rgba(0, 0, 0, 0.651) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, black 25%, transparent 25%),
    linear-gradient(45deg, rgba(0, 0, 0, 0.884) 39%, transparent 25%);	
    background-size: 2em 2em;
    background-color: #000000;
}
.grid__body__index{
    background-color: rgb(70, 70, 70);
}




.grid__header{
    background-color: #402C21;
    border-bottom: solid white;
    padding: 15px;
    width: 100%;
}
.grid__header__logos{
    display: grid;
    grid-template-columns: 46% 54%;
}
.texto__header{
    text-decoration: none;
    z-index: 112;
}
.menu__logo__header{
    height: 25px;
}
.logo__medio__header{
    position: absolute;
    height: 60px;
    top: -15px;
}




    .relleno__img__index{
        width: 100%;
        border-radius: 15px;    
    }
    .padre__home{
        background-color: rgba(122, 122, 122, 0.959);
        border-radius: 15px;
        border: solid white;
    }
    .tablero__main__index{
        font-size: larger;
        background-color: rgba(0, 0, 0, 0.404);
        color: white;
        padding: 2%;
        border-radius: 15px;
    }




.grid__main__menu{
    background-color: rgba(2, 2, 2, 0.692);
}
    .relleno__menu{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows:  auto ;
    }
    .opciones__menu{
        margin: 15px;
        padding: 15px;
        border: solid;
        height: 250px;
        width: auto;
        text-align: start;
        border-radius: 15px;
        display: grid;
        grid-template-columns: auto auto;
        background-color: rgb(141, 141, 141);
        grid-column-gap: 5%;
        border: solid white;
    }
    .titulo__opciones__menu{
        grid-column: 1/3;
    }
    .foto__menu{
        height: 150px;
        width: 150px;
        border-radius: 8px;
        transition-duration: 1s;
    }
    .foto__menu:hover{
        height: 275px;
        width: 275px;
        z-index: 100;
        margin-bottom: 100%;
    }
    .title__main__menu{
        grid-column: 1/3;
        margin: 3%;
        background-color: rgb(122, 122, 122, 0.959);
        width: 35%;
        border-radius: 15px;
        text-align: center;
        height: auto;
        border: solid white;
    }




.grid__main__carrito{
    display: grid;
    grid-template-columns: 30% 34% 34%;
    grid-gap: 5px;
    margin-top: 3%;
}
    .section__micarrito{
        background-color: rgb(141, 141, 141);
        border: white solid ;
        border-radius: 15px;
        padding: 3%;

    }
    .section__pago{
        background-color: rgb(141, 141, 141);
        border: white solid ;
        border-radius: 15px;
        padding: 3%;
    }
    .section__resumen{
        background-color: rgb(141, 141, 141);
        border: white solid ;
        border-radius: 15px;
        padding: 3%;
        margin-bottom: 20%;
    }




    .nosotros__video{
        width: 100%;
        border-radius: 15px;
    }

    .section__nosotros{
        text-align: center;
        background-color: rgb(141, 141, 141);
        border-radius: 15px;
        margin: 5%;
        border: solid white;
        margin-bottom: 80px;
    }
    .video__main__nosotros{
        margin: 5%;
        padding-bottom: 8%;
    }





.grid__main__contacto{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgb(141, 141, 141);
    border-radius: 15px;
    border: solid white;
    margin: 5%;
}
    .titulo__grid__contacto{
        grid-column: 1/3;
    }
    .sumate__contacto{
        border: solid black;
        margin: 3%;
        padding: 5px;
        border-radius: 15px;
        grid-column: 1/2;
    }
    .table__horarios{
        border: solid black;
        margin: 3%;
        padding: 5px;
        border-radius: 15px;
        grid-column: 2/3;
    }
    .contacto__contacto{
        border: solid black;
        margin: 3%;
        padding: 5px;
        border-radius: 15px;
        grid-column: 1/3;
    }
    .mapa__contacto{
        width: 100%;
        border-radius: 15px;
    }
    .mapa__main__contacto{
        border-radius: 15px;
        margin: 5%;
        grid-column: 1/3;
    }
    .form__casilla{
        width: 100%;
    }




.grid__main__saludables{
    background-color: rgb(141, 141, 141);
    border-radius: 15px;
    border: solid white;
    margin: 5%;
    padding: 3%;
}




    footer ul li a{
        text-decoration: none;
        color: white;
        font-size: large;
        transition-duration: 1.5s;
    }
    footer ul li a:hover{
        font-size: 120%;
        color: white;
    }
    footer ul li{
        display: inline-block;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
    }
    footer ul{
        border-top: solid white;
        background-color: #402C21;
    }
    .footer__index{
    position: fixed;
    bottom: 0px;
    width: auto;
    }




.footer__saludables{

    bottom: 0px;
    background-color: #402C21;
    width: auto;
}




@media (max-width:630px){
    .padre__home{
        display: grid;
        grid-template-columns: auto;
        margin-bottom: 20%;
    }
    .imagen__home{
        grid-column:1/3;
    }
    .relleno__menu{
        display: grid;
        grid-template-columns: auto;
    }
    .title__main__menu{
        grid-column: 1/3;
        width: auto;
    }
    .opciones__menu{
        grid-column: 1/3;
    }
    .grid__main__carrito{
        display: grid;
        grid-template-columns: 100%;
        padding: 15px;
    }
    .grid__main__contacto{
        grid-template-columns: 100%;
    }
    .titulo__grid__contacto{
        grid-column: 1/3;
    }
    .sumate__contacto{
        grid-column: 1/3;
    }
    .table__horarios{
        grid-column: 1/3;
    }
    .contacto__contacto{
        grid-column: 1/3;
    }
    .mapa__main__contacto{
        grid-column: 1/3;
    }
}